*, *::before, *::after { box-sizing: border-box; }

html { min-width: 320px; }

body {
  margin: 0;
  padding: 0;

  background-color: #000833;

  font-family: "Share Tech Mono", "Open Sans", sans-serif;
  font-size: 16px;
}

header {
  margin-bottom: 1em;

  color: #fc0;
  text-align: center;
}

header h1 {
  margin: 0.8em 0 0.3em;
  display: inline-block;
  vertical-align: top;

  font-size: 2.6em;
}

header blink {
  display: none;
  font-size: 1.5em;
}

header blink.visible {
  display: block;
  animation: aniBlink 1s infinite;
}

.bingo {
  display: flex;
  justify-content: center;
}

table, tr, td { border-spacing: 0.25em; }

table {
  box-shadow: 0 0 25px #3ec0f0,
              inset 0 0 25px #3ec0f0,
              inset 0 0 25px #3ec0f0;
}

td {
  width: 6.5em;
  height: 6.5em;
  position: relative;
  cursor: pointer;
  background-color: #13a4da;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: inherit;
  height: inherit;

  margin: 0;
  padding: 0.3em;

  color: #fff302;
  font-size: 0.85em;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

}

td::before {
  content: "";

  width: 4em;
  height: 4em;

  position: absolute;
  margin-top: 1.3em;
  margin-left: 1.3em;

  display: none;

  border-radius: 50%;
  background-color: #fc0;
  z-index: 2;
}

td.marked::before { display: block; }

footer {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.7em;
  padding-top: 0.5em;
  text-align: center;
}

footer div { color: #fc0; }

footer a {
  color: #fc0;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
footer a:hover { border-color: transparent; }

/* Recreate the blink tag */
@keyframes aniBlink {
  0% { opacity: 1; }
  75% { opacity: 1; }
  76% { opacity: 0; }
  100% { opacity: 0;}
}

